black @ file:///Users/runner/miniforge3/conda-bld/black-recipe_1682492095737/work
certifi==2022.12.7
charset-normalizer==3.1.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1666798198223/work
docopt==0.6.2
idna==3.4
instagrapi==1.17.6
mypy-extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1675543315189/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1678853982175/work
Pillow==9.5.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1682644429438/work
pycryptodomex==3.17
pydantic==1.10.7
PySocks==1.7.1
python-dotenv==1.0.0
requests==2.29.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1678559861143/work
urllib3==1.26.15
yarg==0.1.9
